/*color palette:
light blue: 9fbed7
dark blue: 4a6d8c
green: 9fa25e/707242
orange: ff9933
red: 993366
black: 333
beige: 993366*/



/*reset*/
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary
{
	display:block;
	/*clear:both;*/
}
body,ul,ol,li,h1,h2,h3,h4,h5,h6
{
	margin:0;padding:0;
}
html,body
{
	background-color:#9fbed7;
	font-family: Georgia, serif;
	font-size:1em;
	text-align:center;
	color:#333;
	padding:0;
	margin:0;
	height:100%;
}

/*styles for fixed header and footer*/
.mct div#content{
  	margin:0;
  	padding:135px 30px 80px 20px;
}
.mct div#header{
  	position:absolute;
  	top:0;
  	left:0;
  	width:100%;
  	/*height:110px;*/
}
div#pagination {
	padding:20px;
	position:absolute;
	left:28%;
	bottom:0;
	text-align:right;
}
div#pagination a {
	display:inline-block;
	font-weight:bold;
	margin:0 5px;
}
div#footer{
  	position:absolute;
  	bottom:0;
  	right:0;
  	width:100%;
  	height:50px;
}
@media screen{
  	.mct>div#header{
   	position:fixed;
  	}
  	.mct>div.footer{
   	position:fixed;
  	}
}
* html .mct{
  	overflow:hidden;
} 
* html div#content{
  	height:100%;
  	overflow:auto;
}
/*end styles for fixed header and footer*/

.mct
{
	display:block;
	margin:0 auto;
	text-align:left;
	width:100%;
	background-color:#f5f2ec;
	position:relative;
	height:auto; /* real browsers */
	_height:100%; /* IE6: treaded as min-height*/
	min-height:100%; /* real browsers */
}

.mct #header 
{
	background-image:url(images/metro_graphic.png);
	background-color:#fff;
	min-height:100px;
	padding:10px 0;
	position:relative;
	text-align:left;
}
.mct #header a.mini-nav span {
	display:inline-block;
	text-align:left;
	text-indent:-999em;
}
.mct #header a.mini-nav {
	color:#fff;
	display:none;
	border:1px solid #fff;
	position:absolute;
	right:5px;
	width:35px;
}

.mct #navigation{
	width:743px;
	text-align:center;
}
.mct #navigation a, .mct #navigation span {
	display:inline-block;
	height:60px;
	padding:0 3px;
}

.mct #navigation a.active {
	background-image:url(images/module_dot.png);
	background-position:50% 28px;
	background-repeat:no-repeat;
}

.mct h1, .mct h2
{
	font-weight:normal;
}
.mct h5 {
	color:#4a6d8c;
}
.mct h4 {
	color:#993366;
}
.mct h3 {
	color:#ff9933;
}

.mct h2 {
	color:#707242;
	font-weight:bold;
}
.mct h2, .mct h3, .mct h4, .mct h5, .mct h6 {
	font-size:140%;
	padding:0 0 20px 0;
	max-width:600px;
	width:80%;
}

.mct h2.breathe, .mct h3.breathe, .mct h4.breathe, .mct h5.breathe, .mct h6.breathe {
	padding-top:20px;
} 

.mct h1
{
	background-color:#4a6d8c;
	color:#fff;
	padding:5px 0 5px 10px;
	position:absolute;
	bottom:0;
	left:0;
	text-align:left;
	width:743px;
}

.mct #header a 
{
	color:#333;
}

.mct #footer {
	border-color:#fff;
	border-style:solid;
	border-width:8px 8px 0;
	-moz-box-shadow: 0 2px 2px 2px #ccc;
	-webkit-box-shadow: 0 2px 2px 2px#ccc;
	box-shadow: 0 2px 2px 2px #ccc;
	position:fixed;
	*position:absolute;
	bottom:0;
	right:20px;
	width:75px;
	padding:10px;
	background-color:#9fa25e;
	color:#fff;
}

.mct #footer a {
	color:#fff;
}

.mct a
{
	color:#4a6d8c;
	text-decoration:none;
}

.mct a:hover, .mct a:active, .mct a:focus {
	text-decoration:underline;
}

.mct p, .mct blockquote
{
	margin:0;
	padding-bottom:20px;
	line-height:20px;
	max-width:600px;
	width:80%;
}

.mct table {
	border:1px solid #993366;
	font-family:"Verdana";
	font-size:80%;
	padding-bottom:20px;
	position:relative;
	width:70%;
	max-width:743px;
}
.mct table.plain {
	border:none;
}
.mct table.plain img.feature {
	width:90%;
}
.mct table.plain td.ghost {
	width:10%;
} 
.mct table caption {
	background-color:#993366;
	color:#fff;
	font-weight:bold;
	padding:5px;
}
.mct table thead {
	font-weight:bold;
}
.mct .ghost {
	opacity:0;
	filter: alpha(opacity = 0);
}
.mct .offscreen {
	float:left;
	margin:-999em;
}
.mct table tr.ghost {
	border-top:1px solid #000;
	position:absolute;
	top:0;
	opacity:0;
	filter: alpha(opacity = 0);
	zoom:1;
}
.mct table span {
	display:block;
}
.mct table span.note {
	font-size:50%;
}
.mct table tr, td {
	vertical-align:top;
}
.mct cite {
	display:inline-block;
	padding:10px 0;
	font-style:italic;
}
.mct cite.credits {
	font-size:80%;
}
.mct ul, .mct ol
{
	list-style-position:outside;
	padding:0 20px 20px;
}

.mct ul li, .mct ol li
{
	padding-top:5px;
	max-width:600px;
}

.mct label.offscreen, .mct.offscreen {
	float:left;
	text-indent:-999em;
	height:0;
	width:0;
	margin:0;
	padding:0;
}

.mct img
{
	vertical-align:middle;
	border:0;
	padding-top:5px;
}

.mct .hide {
	display:none !important;
}

.mct .page-hide {
	display:none !important;
}
/*form stuff*/
.mct form label {
	font-weight:bold;
}
.mct form span.error, .mct form span.correct {
	display:block;
	clear:both;
	font-weight:bold;
}
.mct form span.error {
	color:#993366;
}
.mct form span.correct {
	color:#707242;
}

.mct form {
	display:inline-block;
	width:80%;
	max-width:600px;
}
.mct select, .mct label, .mct input {
	clear:both;
	float:none;
	display:block;
	padding:10px 0;
	width:80%;
	max-width:600px;
}

.mct form ul {
	list-style-type:none;
}

.mct input {
	padding:0;
}

.mct input[type="checkbox"], .mct input[type="radio"] {
	display:inline;
	width:auto;
}
.mct input[type="submit"], .mct input[type="reset"] {
	width:auto;
}

.mct select {
	display:inline-block;
	width:50%;
	color:#fff;
	background:transparent none;
	background-color:#4a6d8c;
	padding:5px;
	font-size:120%;
}

.mct p.heading {
	font-weight:bold;
}


/*special items*/
.mct ul.more-info li.sub-info-graphic {
	background-color:#9fa25e;
	list-style-type:none;
	margin-top:8px;
	overflow:hidden;
	padding-top:0;
	width:100%;
}
.mct ul.more-info li.sub-info-graphic span {
	background-color:#9fa25e;
	color:#fff;
	float:left;
	display:inline-block;
	padding:10px;
	width:auto;
}
.mct ul.more-info li.sub-info-graphic ol {
	background-color:#9fbed7;
	display:inline-block;
	float:right;
	list-style-position:inside;

	width:50%;
}
.mct ul.more-info li.sub-info-graphic ol.hiding {
	height:0;
	opacity:0;
	filter: alpha(opacity = 0);
	-webkit-transition: opacity .5s linear, height 1s linear;
    -moz-transition: opacity .5s linear, height 1s linear;
    -o-transition: opacity .5s linear, height 1s linear;
    -ms-transition: opacity .5s linear, height 1s linear;    
    transition: opacity .5s linear, height 1s linear;
}
.mct ul.more-info:hover li.sub-info-graphic ol.hiding {
	filter: alpha(opacity = 1);
	height:auto;
	opacity:1;
}
.mct li.clear {
	clear:both;
}
.mct #subnav {
	display:inline;
	font-family:Verdana;
	font-size:80%;
	float:right;
	padding-left:20px;
	width:230px;
}
.mct #subnav ul {
	list-style-type:none;
	padding:0;
}
.mct #subnav ul li {
	border-top:2px dotted #9fa25e;
	padding:5px 0;
}
.mct #subnav ul li.first {
	border-top:none;
}
.mct #subnav ul li.first a {
	color:#333;
}
.mct .clearfix:after {
	content: ".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0;
}
.mct .clearfix {
	display:inline-block;
	*zoom:1;
}
.mct form {
	padding-bottom:20px;
}
.mct form div.scoring {
	float:right;
}
.mct span.citation {
	display:block;
	margin-left:40px;
}
.mct .video {
	margin-bottom:20px;
}
.mct img.info-icon {
	width:70px;
	height:70px;
	padding-right:10px;
}
.mct ol.reveal {
	list-style-type:none;
}
.mct ol.reveal li img {
	cursor:pointer;
	float:left;
}
.mct ol.reveal li {
	padding:10px;
	margin-bottom:10px;
	background-color:#ccc;
	color:#fff;
-webkit-border-top-left-radius: 50px;
-webkit-border-bottom-right-radius: 50px;
-moz-border-radius-topleft: 50px;
-moz-border-radius-bottomright: 50px;
border-top-left-radius: 50px;
border-bottom-right-radius: 50px;
	width:70px;
	-webkit-transition: 1s linear;
	-moz-transition: 1s linear;
	-o-transition: 1s linear;
	-ms-transition: 1s linear;
	transition: 1s linear;
	overflow:hidden;
}
.mct ol.reveal li.expand {
	width:700px;
}
.mct ol.reveal li.r1 {
	background-color:#993366;
}
.mct ol.reveal li.r2 {
	background-color:#ff9933;
}
.mct ol.reveal li.r3 {
	background-color:#9fa25e;
}
.mct ol.reveal li.r4 {
	background-color:#4a6d8c;
}
.mct ol.reveal li.r5 {
	background-color:#9fbed7;
}
.mct div.article-image {
	display:inline;
	float:right;
	margin:0 10px;
	overflow:hidden;
	width:230px;
	height:400px;
	-webkit-border-top-right-radius: 100px;
	-webkit-border-bottom-left-radius: 100px;
	-moz-border-radius-topright: 100px;
	-moz-border-radius-bottomleft: 100px;
	border-top-right-radius: 100px;
	border-bottom-left-radius: 100px;
}
.mct img.feature {
	width:60%;
	padding-bottom:20px;
}

.mct img.gumballs {
	width: 50%;
	margin-left:10%;
	padding-bottom:10px;
}

.mct img.gumballs2 {
	width: 35%;
	margin-left:15%;
	padding-bottom:10px;
}

.mct p.video-small {
	display:none;
}

.mct p.video-large {
	display:none;
}

.mct span.checkmark {
	color:#707242;
	font-weight:bold;
}
.mct span.xmark {
	color:#993366;
	font-weight:bold;
}
.mct p.sorry {
	font-weight:bold;
	color:#993366;
}
.mct p.congrats {
	font-weight:bold;
	color:#707242;
}

/*media queries*/
@media screen and (min-width: 1024px) {
	.mct, .mct div#header {
		width:1024px;
		z-index:2;
	}
	.mct, .mct div#header {
		left:auto;
	}
	.mct p.video-large {
		display:block;
	}
	.mct p.video-small {
		display:none;
	}
}
@media screen and (max-width: 1023px) {
	.mct .page-hide {
		display:block !important;
	}
	.mct #subnav {
		display:none;
	}
	.mct #navigation {
		-webkit-transition: margin 1s ease-in-out;
		-moz-transition: margin 1s ease-in-out;
		-o-transition: margin 1s ease-in-out;
		-ms-transition: margin 1s ease-in-out;
		transition: margin 1s ease-in-out;
	}
	.mct #navigation.slide-hide {
		-webkit-transition: margin 1s ease-in-out;
		-moz-transition: margin 1s ease-in-out;
		-o-transition: margin 1s ease-in-out;
		-ms-transition: margin 1s ease-in-out;
		transition: margin 1s ease-in-out;
	}
	.mct div#pagination {
		display:none;
	}
	.mct p.video-small {
		display:block;
	}
	.mct p.video-large {
		display:none;
	}
}
@media screen and (max-width: 800px) {
	.mct div.article-image {
		display:none;
	}
	.mct img.info-icon {
		width:50px;
		height:50px;
	}
	.mct div#content {
		padding-top:75px;
		padding-bottom:20px;
	}
	.mct #header {
		min-height:0;
		padding:5px 0 0;
	}
	.mct #header h1 {
		position:static;
		width:auto;
	}
	.mct #header h1 span {
		margin-right:15px;
	}
	.mct #header span 
	{
		display:none;
	}
	.mct #header h1 span 
	{
		display:inline;
	}
	.mct #navigation{
		text-align:left;
		width:100%;
	}
	.mct #navigation.hide {
		display:none !important;
	}
	.mct #navigation.slide-hide {
		margin-top:-80px;
	}
	.mct #header a.mini-nav {
		display:inline-block;
		background:url(images/nav.gif) no-repeat 0 2px;
	}
	.mct #header a.mini-nav:focus, .mct #header a.mini-nav:active {
		overflow:hidden;
	}
	.mct #navigation a
	{
		background-color:#4a6d8c;
		background-image:none;
		border-radius:5px;
		color:#fff;
		display:inline-block;
		height:auto;
		padding:5px;
		margin:5px;
		text-align:left;
		text-decoration:none;
		width:200px;
		
	}
	.mct #navigation a.active,
	.mct #navigation a:hover
	{
		background-color:#6699cc;
	}
	.mct #footer {
		display:none;
	}
	.mct ol.reveal li.expand {
		width:500px;
	}

}
@media screen and (max-width: 650px) {
	.mct #navigation.slide-hide {
		margin-top:-117px;
	}
	.mct ol.reveal li.expand {
		width:300px;
	}
}
@media screen and (max-width: 500px) {
	.mct #navigation a
	{
		width:90%;
	}
	.mct #navigation.slide-hide {
		margin-top:-235px;
	}
}